{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}rijp{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/basscss/basscss.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bulma.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
    <title>Rijp</title>
</head>

<body>
    <nav id="navbar" class="navbar has-shadow is-spaced">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'index' %}">
                    <p class="title">rijp</p>
                </a>
            </div>

            <div class="navbar-menu">
                {% if user.is_authenticated %}
                <div class="navbar-start">
                    <a class="navbar-item is-active" href="{% url 'dashboard' %}">
                        <span class="icon has-text-primary">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Projects
                        </a>
                        <div id="moreDropdown" class="navbar-dropdown">
                            <a class="navbar-item " href="{% url 'projects' %}">
                                <span>
                                    <span class="icon has-text-primary">
                                        <i class="fas fa-project-diagram"></i>
                                    </span>
                                    <strong>Open projects</strong>
                                    <br>
                                    Open and ongoing
                                </span>
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item " href="{% url 'projects' %}">
                                <span>
                                    <span class="icon has-text-danger">
                                        <i class="fas fa-history"></i>
                                    </span>
                                    <strong>Project archive</strong>
                                    <br>
                                    Closed and archived
                                </span>
                            </a>
                        </div>
                    </div>

                    <a class="navbar-item" href="{% url 'tests' %}">
                        <span class="icon has-text-warning">
                            <i class="fas fa-vial"></i>
                        </span>
                        <span>Tests</span>
                    </a>
                </div>
                {% endif %}
                <div class="navbar-end">
                    {% if not user.is_authenticated %}
                    <div class="navbar-item">
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control">
                                <a class="button is-primary" href="{% url 'login' %}">
                                    <strong>Login</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control">
                                <a class="button" href="{% url 'signup' %}">
                                    <strong>Signup</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    {% else %}
                    <div class="navbar-item">
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control">
                                <a class="button is-success" href="{% url 'new_project' %}">
                                    <strong>New project</strong>
                                </a>
                                <a class="button is-info" href="{% url 'my_account' %}">
                                    <strong>My account ({{ user.username }})</strong>
                                </a>
                                <a class="button is-danger" href="{% url 'logout' %}">
                                    <strong>Logout</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="container pt2">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </ul>
            </nav>
            {% block content %}
            <div class="intro-columns">
                <div class="intro-column is-content">
                    <div class="intro-content">
                        <h1 class="title intro-title">
                            Get it
                            <strong>rijp</strong>
                            <br>.
                        </h1>
                    </div>
                </div>
            </div>
            {% endblock content %}
        </div>
    </main>

    <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatable/dataTables.bulma.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>