{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <title>Rijp</title>
</head>

<body>
    <nav id="navbar" class="navbar has-shadow is-spaced">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <p class="title">rijp</p>
                </a>

                <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fab fa-lg fa-github-alt"></i>
                    </span>
                </a>

                <a class="navbar-item is-hidden-desktop" href="#" target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fab fa-lg fa-twitter"></i>
                    </span>
                </a>

                <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenuDocumentation" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item bd-navbar-item-documentation  is-active" href="#">
                        <span class="icon has-text-primary">
                            <i class="fas fa-tachometer-alt"></i>
                        </span>
                        <span>Dashboard</span>
                    </a>


                    <a class="navbar-item bd-navbar-item-videos " href="#">
                        <span class="icon has-text-success">
                            <i class="fas fa-project-diagram"></i>
                        </span>
                        <span>Projects</span>
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">

                        <a class="navbar-link">
                            More
                        </a>
                        <div id="moreDropdown" class="navbar-dropdown">


                            <a class="navbar-item " href="#">
                                <span>
                                    <span class="icon has-text-success">
                                        <i class="fas fa-vial"></i>
                                    </span>
                                    <strong>Tests</strong>
                                    <br>Recent tests
                                </span>
                            </a>

                            <!-- <hr class="navbar-divider"> -->
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped is-grouped-multiline">
                            <p class="control">
                                <a class="button is-primary" href="#">
                                    <strong>Login</strong>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-medium intro">
        <div class="hero-body">
            <div class="container">
                {% block content %}
                <div class="intro-columns">
                    <div class="intro-column is-content">
                        <div class="intro-content">
                            <h1 class="title intro-title">
                                Get it
                                <strong>rijp</strong>
                                <br>.
                            </h1>
                        </div>
                    </div>
                </div>
                {% endblock content %}
            </div>
        </div>
    </section>

    <script src="{% static 'js/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/admin4b/admin4b.min.js' %}"></script>
</body>

</html>