{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}rijp / my account{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="is-active"><a href="#" aria-current="page">My account</a></li>
{% endblock breadcrumb %}

{% block content %}

{% include 'includes/messages.html' %}

<div class="column is-6 is-offset-3">
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
      <div class="control">
        <a href="{% url 'index' %}" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}