{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="column is-6 is-offset-3">
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="field">
      <label class="label">{{ user_form.first_name.label_tag }}</label>
      <p class="control has-icons-left">
        {% render_field user_form.first_name|attr:"class:input"|attr:"placeholder:first_name" %}
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
      {% for e in user_form.first_name.errors %}
      <p class="help is-danger">{{ e }}</p>
      {% endfor %}
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
      <div class="control">
        <a href="{% url 'index' %}" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}