{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'projects' %}">Projects</a></li>
<li class="is-active"><a href="#" aria-current="page">New project</a></li>
{% endblock breadcrumb %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    <div class="field">
        <p class="control has-icons-left">
            {% render_field project_form.name|attr:"class:input"|attr:"type:name"|attr:"placeholder:Project name" %}
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
        </p>
        {% for e in project_form.name.errors %}
        <p class="help is-danger">{{ e }}</p>
        {% endfor %}
    </div>

    <div class="field">
        <div class="control">
            <button type="submit" class="button is-link">Create project</button>
        </div>
    </div>
</form>
{% endblock content %}