{% extends 'base.html' %}
{% load static %}

{% block title %}rijp / edit object{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
{% endblock breadcrumb %}

{% block content %}
<div class="column is-6 is-offset-3">
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="button is-success">Save changes</button>
    <a href="{% url 'index' %}" class="button is-text" role="button">Cancel</a>
</form>
</div>
{% endblock content %}