{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}rijp / project details{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'projects' %}">Projects</a></li>
<li class="is-active"><a href="#" aria-current="page">{{ ctx.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}

<div class="tabs is-medium">
    <ul>
        <li id="tab_project_summary" class="is-active">
            <a>
                <span>Summary</span>
            </a>
        </li>
        <li id="tab_project_test_templates">
            <a>
                <span>Test templates</span>
            </a>
        </li>
        <li id="tab_project_test_instances">
            <a>
                <span>Test instances</span>
            </a>
        </li>
    </ul>
</div>

<div id="div_project_summary">
    <h1 class="title">{{ ctx.name }}</h1>
    <h2 class="subtitle">Created on {{ ctx.created }}</h2>
    <span class="tag is-large {{ ctx.get_priority_bulma_class }}">{{ ctx.get_priority }}</span>
    <hr>
    <label class="label">Description</label>
    <textarea class="textarea" rows="1" readonly>{{ ctx.description }}</textarea>
    <hr>
    <a class="button is-link" href="{% url 'project_edit' ctx.pk %}">Edit</a>
</div>

<div id="div_project_test_templates" hidden>
    {% if ctx.test_templates.all %}
    <table id="test_templates_table" class="table" width="100%">
        <thead>
            <tr>
                <th>Test template name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Quick access</th>
            </tr>
        </thead>
        <tbody>
            {% for t in ctx.get_test_templates.all %}
            <tr>
                <td>
                    <a href="{% url 'project_test_template_details' t.pk %}">{{ t.name }}</a>
                </td>
                <td>
                    {{ t.description }}
                </td>
                <td>
                    <span class="tag {{ t.get_priority_bulma_class }}">{{ t.get_priority }}</span>
                </td>
                <td>
                    {{ t.created }}
                </td>
                <td>
                    {{ t.modified }}
                </td>
                <td>
                    <a class="button is-small is-link" href="{% url 'project_test_template_edit' t.pk %}">Edit</a>
                    <a class="button is-small is-danger" href="{% url 'project_test_template_archive' t.pk %}">Archive</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nothing to show</p>
    {% endif %}
    <hr>
    <a class="button is-link" href="{% url 'project_test_template_new' ctx.pk %}">New test template</a>
</div>

<div id="div_project_test_instances" hidden>
    {% if ctx.test_instances.all %}
        here they are
    {% else %}
        <p>Nothing to show</p>
    {% endif %}
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#test_templates_table').DataTable();
    })
    function hideall() {
        $("[id^=tab_project]").removeClass('is-active');
        $("[id^=div_project]").prop('hidden', true);
    }
    $('#tab_project_summary').on('click', function(e) {
        hideall();
        $('#tab_project_summary').addClass('is-active');
        $('#div_project_summary').prop('hidden', false);
    });
    $('#tab_project_test_templates').on('click', function(e) {
        hideall();
        $('#tab_project_test_templates').addClass('is-active');
        $('#div_project_test_templates').prop('hidden', false);
    });
    $('#tab_project_test_instances').on('click', function(e) {
        hideall();
        $('#tab_project_test_instances').addClass('is-active');
        $('#div_project_test_instances').prop('hidden', false);
    });
</script>
{% endblock javascript %}