{% extends 'base.html' %}
{% load static %}

{% block title %}rijp / projects{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="is-active"><a href="#" aria-current="page">Projects</a></li>
{% endblock breadcrumb %}

{% block content %}
<h1 class="title">List of projects</h1>
<table id="projects_table" class="table" width="100%">
    <thead>
        <tr>
            <th>Project name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Quick access</th>
        </tr>
    </thead>
    <tbody>
        {% for p in ctx %}
        <tr>
            <td>
                <a href="{% url 'project_details' p.pk %}">{{ p.name }}</a>
            </td>
            <td>
                {{ p.description }}
            </td>
            <td>
                <span class="tag {{ p.get_priority_bulma_class }}">{{ p.get_priority }}</span>
            </td>
            <td>
                {{ p.created }}
            </td>
            <td>
                {{ p.modified }}
            </td>
            <td>
                <a class="button is-small is-link" href="{% url 'project_edit' p.pk %}">Edit</a>
                <a class="button is-small is-danger" href="{% url 'project_archive' p.pk %}">Archive</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#projects_table').DataTable();
    })
</script>
{% endblock javascript %}