{% extends 'base.html' %}
{% load static %}

{% block title %}rijp / projects{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li class="is-active"><a href="#" aria-current="page">Projects</a></li>
{% endblock breadcrumb %}

{% block content %}
<table id="projects_table" class="table" width="100%">
    <thead>
        <tr>
            <th>Project name</th>
        </tr>
    </thead>
    <tbody>
        {% for p in ctx %}
        <tr>
            <td>
                <a href="{% url 'project_details' p.pk %}">{{ p.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#projects_table').DataTable();
    })
</script>
{% endblock javascript %}