{% extends 'base.html' %}
{% load static %}

{% block title %}rijp / template details{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'projects' %}">Projects</a></li>
<li><a href="{% url 'project_details' ctx.project.pk %}">{{ ctx.project.name }}</a></li>
<li class="is-active"><a>Test templates</a></li>
<li class="is-active"><a href="#" aria-current="page">{{ ctx.name }}</a></li>
{% endblock breadcrumb %}

{% block content %}

<div class="tabs is-medium">
    <ul>
        <li id="tab_template_summary" class="is-active">
            <a>
                <span>Summary</span>
            </a>
        </li>
        <li id="tab_template_test_case_templates">
            <a>
                <span>Test case templates</span>
            </a>
        </li>
        <li id="tab_template_test_instances">
            <a>
                <span>Test instances</span>
            </a>
        </li>
    </ul>
</div>

<div id="div_template_summary">
    <h1 class="title">{{ ctx.name }}</h1>
    <h2 class="subtitle">Created on {{ ctx.created }}</h2>
    <span class="tag is-large {{ ctx.get_priority_bulma_class }}">{{ ctx.get_priority }}</span>
    <hr>
    <label class="label">Description</label>
    <textarea class="textarea" rows="1" readonly>{{ ctx.description }}</textarea>
    <hr>
    <a class="button is-link" href="{% url 'project_test_template_edit' ctx.pk %}">Edit</a>
</div>

<div id="div_template_test_case_templates" hidden>
    {% if ctx.test_case_templates.all %}
    <table id="test_case_templates_table" class="table" width="100%">
        <thead>
            <tr>
                <th>Test case template name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for t in ctx.test_case_templates.all %}
            <tr>
                <td>
                    <a href="{% url 'project_test_case_template_details' t.pk %}">{{ t.name }}</a>
                </td>
                <td>
                    {{ t.description }}
                </td>
                <td>
                    <span class="tag {{ t.get_priority_bulma_class }}">{{ t.get_priority }}</span>
                </td>
                <td>
                    {{ t.created }}
                </td>
                <td>
                    {{ t.modified }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nothing to show</p>
    {% endif %}
    <hr>
    <button id="modal-open" class="button is-link">New test case template</button>
</div>

<div id="div_template_test_instances" hidden>
    {% if ctx.test_case_instances.all %}
    {% else %}
    <p>Nothing to show</p>
    {% endif %}
</div>

<div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New test case template</p>
            <button id="modal-close" class="delete" aria-label="close"></button>
        </header>
        <form action="{% url 'project_test_template_details' ctx.pk %}" method="post" novalidate>
            <section class="modal-card-body">
                {% csrf_token %}
                {% include 'includes/form.html' %}
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-success">Submit</button>
            </footer>
        </form>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#test_case_templates_table').DataTable();
    })
    function hideall() {
        $("[id^=tab_template]").removeClass('is-active');
        $("[id^=div_template]").prop('hidden', true);
    }
    $('#tab_template_summary').on('click', function(e) {
        hideall();
        $('#tab_template_summary').addClass('is-active');
        $('#div_template_summary').prop('hidden', false);
    });
    $('#tab_template_test_case_templates').on('click', function(e) {
        hideall();
        $('#tab_template_test_case_templates').addClass('is-active');
        $('#div_template_test_case_templates').prop('hidden', false);
    });
    $('#tab_template_test_instances').on('click', function(e) {
        hideall();
        $('#tab_template_test_instances').addClass('is-active');
        $('#div_template_test_instances').prop('hidden', false);
    });
</script>
{% endblock javascript %}